<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    
    <title>Document</title>
  </head>
  <body>
    <header class="p-3 bg-dark text-white">
      <div class="mx-3">
        <div class="
              d-flex
              flex-wrap
              align-items-center
              justify-content-center justify-content-lg-start
            ">
          <a href="/" class="
                d-flex
                align-items-center
                mb-2 mb-lg-0
                text-white text-decoration-none
              ">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
  
          <ul class="
                nav
                col-12 col-lg-auto
                me-lg-auto
                mb-2
                justify-content-center
                mb-md-0
              ">
            <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Login</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Sign Up</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Reset password</a></li>
          </ul>
  
          <div class="d-flex align-items-center justify-content-between" style="width: 18rem;">
            <select class="form-select w-50" aria-label="select example" id="select">
              <option value="eng">English</option>
              <option value="ru">Russian</option>
              <option value="uz">O'zbekcha</option>
            </select>
            <h4 class="text-light">Task APP</h4>
          </div>
        </div>
      </div>
    </header>

    <section class="vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
              <div class="col-md-6 col-10 col-lg-4 d-flex flex-column justify-content-center">
               <div class="card p-4 text-center">
                   <h1 class="text-center heading">Task App</h1>
                   <div class="alert alert-danger border-none" role="alert" id="alertt"></div>
                   <form  method="post" class="p-2 mt-3" id="form"> 
                       <input type="text" name="email" placeholder="Email" class="form-control my-2" id="email" required>
                       <input type="password" name="password" placeholder="password" class="form-control my-2" id="password" required>
                       <button class="btn btn-dark w-100 mt-2"  id="Btn">Login</button>
                   </form>
                </div>
                <div class="row justify-content-center mt-4 ">
                   <div class="col-12">
                       <div class="card text-center p-3">
                            <p class="m-0 p-0">You don't have an account yet <a href="/singup">Registration</a></p>
                            <p class="m-0 p-0">Forgot password: <a href="/forgot">Reset Password</a></p>
                       </div>
                   </div>
               </div>
              </div>
            </div>
        </div>
     </section>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>

    <script src="/js/login.js"></script>
  </body>
</html>
